<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.tukorea.free.mapper.StudentMapper">
  
   	<select id="getTime" resultType="string">
 		select now()
 	</select>
 	
     <insert id="insert"> 
   		insert into student (id, passwd, nickname, email) values
 		(#{id}, #{passwd}, #{nickname}, #{email})
     </insert> 
 	
     <select id="selectByid" resultType="StudentVO">
 		select * from student where id = #{id}
     </select>

 	
     <select id="selectAll" resultType="org.tukorea.free.domain.StudentVO">
     <![CDATA[
 		select * from student
      ]]> 
     </select>
 	
     <update id="update">
	 	update student set id =#{id}, passwd =#{passwd}, nickname =#{nickname}, email =#{email}
		 where id = #{id}
    </update>
 
    <delete id="delete">
		delete from student where id = #{id}
    </delete>
	
</mapper>  

